[submodule "lib/utf8proc"]
	path = lib/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "lib/iniparser"]
	path = lib/iniparser
	url = https://github.com/ndevilla/iniparser.git
[submodule "lib/yyjson"]
	path = lib/yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "lib/libev"]
	path = lib/libev
	url = https://github.com/enki/libev.git
[submodule "lib/libqrencode"]
	path = lib/libqrencode
	url = https://github.com/fukuchi/libqrencode.git
[submodule "lib/indicators"]
	path = lib/indicators
	url = https://github.com/Tofweod/indicators.git
